---
---

body {
    margin: 60px auto;
    max-width: 700px;
    padding: 0 10px;

    color: #222;
    line-height: 1.2;
}

header {
    text-align: center;
}

h1 {
    font-family: "Bungee Inline", cursive;
    font-size: 32px;
}

h2 {
    font-family: "Russo One", sans-serif;
    font-size: 24px;
}

h3 {
    font-family: "Russo One", sans-serif;
    font-size: 16px;
}

h4 {
    font-family: "Courier New", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

h5 {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    font-weight: 100;
}

p {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    // text-indent: 40px;
}

span {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
}

.no-spacing {
    white-space: pre-line;
}

.small {
    font-size: 13px;
}

.posts {
    max-width: 360px;
    margin: 0 0 0 40px;
}
